[Desktop Entry]
Name=Midnight (Classic)
X-KDE-PluginInfo-Author=Rokin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Midnight-classic
X-KDE-PluginInfo-Version=1.0
