[Desktop Entry]
Name=Midnight (Purple)
X-KDE-PluginInfo-Author=Rokin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Website=https://github.com/Rokin05
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Midnight-Purple
X-KDE-PluginInfo-Version=1.0

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7
